*.[ao]
*.run
# *.txt
*.dat
moc_*.cpp
teachview-build/
build*
*.vscode*
*debug*
*.json
*Eigen/*
*debug/*
*.Debug
*.Release
teachview/Eigen/SparseCore
*.json
*ui_*.h
*build*Debug/*
*.md
teachview/Makefile
teachview/Makefile
*.db
*.opendb
teachview/kinematics/.vs/kinematics/v15/.suo
teachview/kinematics/.vs/
*.tlog
*.exe
*.obj
*.iobj
*.log
*.pdb
*.ipdb
bin/controlor
bin/kinematics
bin/teachview
bin/plot
robotics/.vs/robotics/v15/.suo
*.ipch
# *bin*
*.pro*
*.pri*